// Example, WIP
.chart {

  & .grid {
    display: grid;
    // grid-auto-flow: column;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-gap: .5rem;
    // grid-auto-rows: 
    align-content: center;
    width: 100%;
  }
}

.tile {
  // height: 50px;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;

  img {
    width: 100%;
  }
}

#open-chart {
  display: none;
}

.title-input, .group-title-input {
  display: none;
}