.flex {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  height: 100%;
}

main {
  flex-grow: 1;
  overflow-x: auto;
}

.sidebar {
  flex-basis: 20%;
  
  img {
    width: 90%;
  } 
}
