<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Top Charts</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'top_charts/styles.min.css' %}">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <div id="cropper-modal" class="cropper modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="cropper-wrapper">
        <img id="image" src="">
      </div>
      <form id="image-options">
        <label for="image-title">Image Title</label>
        <input id="image-title" name="image-title" type="text">
        <label for="tag-input">Tags</label>
        <input id="tags" name="tags" type="text">
        {% comment %} TODO: Category {% endcomment %}
      </form>
      <div id="crop-options">
        <div id="aspect-ratios">
          <button id="16:9">16:9</button>
          <button id="4:3">4:3</button>
          <button id="1:1">1:1</button>
          <button id="free-aspect-ratio">Free</button>
        </div>
      </div>
      <button id="crop">Crop</button>
    </div>
  </div>
  <div class="content-wrapper flex">
    <aside id="configuration-bar" class="sidebar">
      <div id="images-selection">
        <h1 id="images-title">Upload Images</h1>
        <input id="image-upload" type="file" accept="image/webp, image/jpeg, image/png">
        <button id="open-cropper">Edit Image</button>
        <h1 id="images-title">Search Images</h1>
        <input id="image-search" name="image-search" type="text">
        <button id="image-search-button" name="image-search-button" type="text">Search</button>
        <div id="searched-images" class="image-container grid">

        </div>
      </div>
      <img id="cropped-image" src="">
      <div id="options-selection">
        <h1 id="options-title">Options</h1>
        <form id="options-form">
          {% comment %} TODO {% endcomment %}
        </form>
        <button id="render" value="Render Chart" type="button">Render Chart</button>
        <button id="save" value="Save Chart" type="button">Save Chart</button>
        <button id="download-config" value="Download Chart Config" type="button">Download Chart Config</button>
        <label for="upload-config">Upload Chart Config</label>
        <input id="upload-config" name=upload-config type="file" accept="application/json">
        <button id="open-chart" value="Open Chart" type="button">
          <a id="open-chart-link" target="_blank" rel="noopener noreferrer" href="">Open Chart</a>
        </button>
      </div>
    </aside>
    <main>
      <div id="chart" class="chart">
        <h1 id="chart-title">Title</h1>
        <input id="title-input" class="title-input" type="text">
        <div id="tiles">
        </div>
      </div>
    </main>
  </div>
  <script src="{% static 'cropperjs/dist/cropper.js' %}" type="module"></script>
  <script src="{% static '@bundled-es-modules/axios/axios.js' %}" type="module"></script>
  <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/draggable.bundle.js"></script>
  <script src="{% static 'top_charts/chart.js' %}" type="module"></script>
  <script src="{% static 'top_charts/scripts.js' %}" type="module"></script>
</body>

</html>